@page "/"
@using Blazor.Data


<h1>WELCOME ON CHATTUS</h1>



@code {
    protected override void OnInitialized()
    {
    }

    static readonly ValidatorLogInHttp ValidatorLogInHttp = new();
    readonly string _lastName=ValidatorLogInHttp.ValidateUser("sackboynick", "Password").Result.LastName;

}