@page "/"
@using Blazor.Data


<p>@_lastName</p>



@code {
    protected override void OnInitialized()
    {
    }

    static readonly ValidatorLogInHttp ValidatorLogInHttp = new();
    readonly string _lastName=ValidatorLogInHttp.ValidateUser("sackboynick", "Password").Result.LastName;

}