@page "/"
@using BlazorClient.Data
@inject NavigationManager _navigationManager


<h1>WELCOME TO CHATTUS</h1>


@code {
    protected override void OnInitialized()
    {
    }

    static readonly ValidatorLogInHttp ValidatorLogInHttp = new();

}