@inherits LayoutComponentBase
@using BlazorClient.LoginComponent

<AuthorizeView Policy="RequireLogIn">
    <div class="sidebar">
        <NavMenu/>
    </div>
    </AuthorizeView>
<div class="page">
    <div class="main">
        <div class="top-row px-4 h-auto m-10">
            <Login/>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>