@inherits LayoutComponentBase
@using BlazorClient.LoginComponent

<AuthorizeView Policy="RequireLogIn">
    <div class="sidebar">
        <NavMenu/>
    </div>
    </AuthorizeView>
<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>